<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HospitalityService</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/HospitalityService.styles.css" asp-append-version="true" />
	<link href="~/lib/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
	<link href="~/lib/animate.css/animate.css" rel="stylesheet" />
	<link href="~/lib/hamburgers/hamburgers.min.css" rel="stylesheet" />
	<link href="~/lib/animsition/css/animsition.min.css" rel="stylesheet" />
	<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/lib/tailwindcss/tailwind.min.css" rel="stylesheet" />
</head>
<body>
	<header>
	@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
           <div class="container-fluid">
               <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">ZEN</a>
               <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <ul class="navbar-nav flex-grow-1">
                       <li class="nav-item" id="first-nav-item">
                           <a class="nav-link text-dark rounded-pill text-white bg-gradient" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark rounded-pill text-white bg-gradient" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark rounded-pill text-white bg-gradient" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                       </li>
                   </ul>
               </div>
           </div>
       </nav>*@
		<div class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-white bg-opacity-75">
			<svg class="w-8 h-8 text-indigo-600 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 000-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
			</svg>
			<a class="mx-2 text-sm font-semibold text-indigo-700" asp-area="" asp-controller="Home" asp-action="Index">ZEN</a>
			<input class="flex items-center h-10 px-4 ml-10 text-sm bg-gray-200 rounded-full focus:outline-none focus:ring" type="search" placeholder="Search for anything…">
			<div class="ml-10 w-100">				
			@if (GlobalVariables.IS_LOGGED_IN)
			{
				<a class="mx-2 text-sm font-semibold text-indigo-700" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
				@if (GlobalVariables.IS_ADMIN_LOGGED_IN)
				{
					<a class="mx-2 text-sm font-semibold text-indigo-700" asp-area="" asp-controller="User" asp-action="Index">Users</a>	
					<a class="mx-2 text-sm font-semibold text-indigo-700" asp-area="" asp-controller="News" asp-action="Index">News</a>					
				}
				<a class="mx-2 text-sm font-semibold text-indigo-700" asp-area="" asp-controller="UserTask" asp-action="Index">Tasks</a>
				<a class="mx-2 text-sm font-semibold text-indigo-700" asp-area="" asp-controller="HolidayRequest" asp-action="Index">Holidays</a>
			}
				<a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
			</div>
			@if (GlobalVariables.IS_LOGGED_IN)
			{
				<a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700 w-20" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
				<a asp-area="" asp-controller="User" asp-action="Edit" asp-route-id="@GlobalVariables.USER_ID">
					<buton class="flex items-center justify-center w-8 h-8 ml-auto overflow-hidden rounded-full cursor-pointer">
					<img src=@GlobalVariables.USER_IMAGE  alt="">
					</buton>
				</a>
			}
		</div>
	</header>
	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer class="footer text-muted bg-white bg-opacity-75">
		<div class="container text-dark">
			&copy; 2023 - HospitalityService - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
