<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hospitality Service</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/HospitalityService.styles.css" asp-append-version="true" />
	<link href="~/lib/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
	<link href="~/lib/animate.css/animate.css" rel="stylesheet" />
	<link href="~/lib/hamburgers/hamburgers.min.css" rel="stylesheet" />
	<link href="~/lib/animsition/css/animsition.min.css" rel="stylesheet" />
	<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/lib/tailwindcss/tailwind.min.css" rel="stylesheet" />
</head>
<body>
	<header>
		<div class="flex items-center flex-shrink-0 w-full h-16 px-4 md:px-10 bg-white bg-opacity-75">
			<svg id="hamburger-icon" class="w-8 h-8 text-indigo-600 stroke-current md:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
			</svg>
			<a class="mx-2 text-sm font-semibold text-indigo-700" href="/">ZEN</a>
			<div class="flex-1"></div>
			@if (GlobalVariables.IS_LOGGED_IN)
			{
				<input id="search-box" class="hidden md:flex items-center h-10 px-4 ml-4 text-sm bg-gray-200 rounded-full focus:outline-none focus:ring" type="search" placeholder="Search for anything…">
				<div class="hidden md:flex items-center md:ml-10">
					<a class="mx-2 text-sm font-semibold text-indigo-700" href="/">Dashboard</a>
					@if (GlobalVariables.IS_ADMIN_LOGGED_IN)
					{
						<div class="hidden md:block">
							<a class="mx-2 text-sm font-semibold text-indigo-700" href="/user">Users</a>
							<a class="mx-2 text-sm font-semibold text-indigo-700" href="/news">News</a>
						</div>
					}
					<a class="mx-2 text-sm font-semibold text-indigo-700" href="/UserTask">Tasks</a>
					<a class="mx-2 text-sm font-semibold text-indigo-700" href="/HolidayRequest">Holidays</a>
					@*<a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="/privacy">Privacy Policy</a>*@
					<a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700 w-20" href="/Account/logout">Log Out</a>
					<a href="/user/profile">
						<buton class="flex items-center justify-center w-8 h-8 ml-4 md:ml-10 overflow-hidden rounded-full cursor-pointer">
							<img src=@GlobalVariables.USER_IMAGE onerror="this.onerror =null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScJXWdvwDZC0RF_VSzzP8aXSX9Sc_VPAtuew&usqp=CAU'" ; alt="User profile image">
						</buton>
					</a>
				</div>
			}
			else
			{
				<div class="hidden md:block">
					<a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="/Account/login">Log In</a>
					@*<a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="/register">Sign Up</a>*@
				</div>
			}
		</div>
		<div id="mobile-menu" class="hidden md:hidden bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
			<div class="px-2 pt-2 pb-3 space-y-1">
				@if (GlobalVariables.IS_LOGGED_IN)
				{
					<a class="block px-3 py-2 text-base font-semibold text-indigo-700 rounded hover:bg-gray-200" href="/">Dashboard</a>
					@*<a class="block px-3 py-2 text-sm font-medium text-gray-500 rounded hover:text-indigo-700 hover:bg-gray-200" href="/privacy">Privacy Policy</a>*@
					@if (GlobalVariables.IS_ADMIN_LOGGED_IN)
					{
						<a class="block px-3 py-2 text-base font-semibold text-indigo-700 rounded hover:bg-gray-200" href="/user">Users</a>
						<a class="block px-3 py-2 text-base font-semibold text-indigo-700 rounded hover:bg-gray-200" href="/news">News</a>
					}
					<a class="block px-3 py-2 text-base font-semibold text-indigo-700 rounded hover:bg-gray-200" href="/UserTask">Tasks</a>
					<a class="block px-3 py-2 text-base font-semibold text-indigo-700 rounded hover:bg-gray-200" href="/HolidayRequest">Holidays</a>
					<a class="block px-3 py-2 text-sm font-medium text-gray-500 rounded hover:text-indigo-700 hover:bg-gray-200" href="/Account/logout">Log Out</a>
					<a href="/user/edit/@GlobalVariables.USER_ID">
						<div class="block px-3 py-2 text-sm font-medium text-gray-500 rounded hover:text-indigo-700 hover:bg-gray-200">
							<div class="flex items-center">
								<img src="@GlobalVariables.USER_IMAGE" alt="" class="w-6 h-6 rounded-full mr-2">
								<span>Profile</span>
							</div>
						</div>
					</a>
				}
				else{
					<a class="block px-3 py-2 text-sm font-medium text-gray-500 rounded hover:text-indigo-700 hover:bg-gray-200" href="/Account/login">Log In</a>
					@*<a class="block px-3 py-2 text-sm font-medium text-gray-500 rounded hover:text-indigo-700 hover:bg-gray-200" href="/register">Sign Up</a>*@
				}
			</div>
		</div>
	</header>

	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer class="footer text-muted bg-white bg-opacity-75">
		<div class="container text-dark">
			&copy; 2023 - HospitalityService - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		const hamburgerIcon = document.getElementById('hamburger-icon');
		const mobileMenu = document.getElementById('mobile-menu');

		hamburgerIcon.addEventListener('click', () => {
			mobileMenu.classList.toggle('hidden');
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		// Get the search box element
		var searchBox = document.getElementById("search-box");

		// Add an event listener to capture the "Enter" key press
		searchBox.addEventListener("keyup", function (event) {
			if (event.keyCode === 13) { // 13 is the code for "Enter" key
				event.preventDefault();
				var searchText = searchBox.value;
				window.location.href = "/Home/Index?searchedText=" + searchText;
			}
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
